{% load static %}
{% for data in datas %}
    <div class="item">
        <div class="name">
            <a href="{% url 'second:favourite_detail' data.seq %}">{{ data.name }}</a>
        </div>
        <div class="group">
            <img src="{% static 'second/images/icon_more.png' %}">
            <div class="mini_menu">
                <div><a href="{% url 'second:favourite_delete' data.seq %}">삭제</a></div>
                <div onClick="deleteFavourite('{{ data.seq }}')">삭제</div>
            </div>
        </div>
        <div class="regdate">
            {{ data.reg_date|date:"Y-m-d" }}
        </div>
    </div>
{% endfor %}