{% extends 'first/layout.html' %}

{% block title %}
<title>학생들</title>
{% endblock %}
{% block content %}
    <h3>{{ text|truncatechars:10 }}</h3>
    <h3>{{ date|date:'Y-m-d' }}</h3>
    <a href="{% url 'first:student_add' %}">등록</a>
    {% for student in students %}
    <!-- 요 안에있는 내용들이 반복됩니다 -->
    <div>
        <div>
        {{ student.name }}
        {{ student.address }}
        {{ student.email }}
        </div>

        <div>
            {% if student.file1 %}
                <a href="{{ student.file1.url }}">{{ student.file1 }}</a>
            {% endif %}
        </div>
        <div>
            {% if student.img1 %}
                <img src="{{ student.img1.url }}" style="width:200px"/>
            {% endif %}
        </div>
        <div>
            {% if student.img2 %}
                <img src="{{ student.img2.url }}" style="width:200px"/>
            {% endif %}
        </div>

        <a href="{% url 'first:student_modify' student.id %}">수정</a>
    </div>
    {% endfor %}
{% endblock %}
